.dark-theme {
    background: dimgrey;
}

.dark-theme-text {
    color: white;
}

.red-theme {
    background: red;
}

.red-theme-text {
    color: blue;
}

.lightgreen-theme {
    background: lightgreen;
}

.lightgreen-theme-text {
    color: darkslateblue;
}

.black-theme {
    background: black;
}

.black-theme-text {
    color: deeppink;
}

.gold-theme {
    background: gold;
}

.gold-theme-text {
    color: springgreen;
}